testData/Ecoli_10x.1.fastq filter=lfs diff=lfs merge=lfs -text
testData/Ecoli_10x.2.fastq filter=lfs diff=lfs merge=lfs -text
testData/SARS-COVID-test-swift-v2.1.fastq  filter=lfs diff=lfs merge=lfs -text
testData/SARS-COVID-test-swift-v2.2.fastq  filter=lfs diff=lfs merge=lfs -text
