#!/bin/sh
#$ -S /bin/sh
#$ -N <JOB_NAME> 
#$ -l <JOB_RESOURCE_REQUEST> 
#$ -m a
#$ -M <JOB_NOTIFY>
#$ -j y
#$ -o <JOB_LOG> 

umask 002

export _JAVA_OPTIONS="-Xmx512M -XX:MaxPermSize=512m"

<COMMAND>

