<!DOCTYPE html>
<html class='ui-mobile'><head><meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	<base href='.'>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no'>
	<title>EDGE bioinformatics</title>
	<link rel="shortcut icon" href="images/edge.ico" type="image/x-icon">
	<link rel="icon" href="images/edge.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/edge-theme.min.css" />
	<link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="css/jquery.mobile.1.4.3.min.css" />
	<link rel="stylesheet" href="css/jqueryFileTree.css" />
	<link rel="stylesheet" href="css/jquery-ui-datepicker.css" />
	<link rel="stylesheet" href="css/edge.css"/>
	<link rel='stylesheet' href='css/edge-output.css'/>
	<link rel='stylesheet' href='css/edge-output-standalone.css'/>	
	<link rel='stylesheet' href='css/tooltipster.css'/>
	<script src="javascript/jquery.js"></script>
	<script src="javascript/jquery-ui-datepicker.js"></script>
	<script src="javascript/jquery.mobile-1.4.3.min.js"></script>
	<script src="javascript/edge-metadata.js"></script>
	<script src="javascript/raphael-min.js" ></script>
	<script src="javascript/jsphylosvg-min.js"></script>    
	<script src="javascript/jquery.tooltipster.min.js"></script>
	<script src="javascript/jquery.lazyloadxt.extra.min.js"></script>
	<script src="javascript/jquery.lazyloadxt.autoload.min.js"></script>

	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDhL0G5RZJDOoxgK3gtXmEhnD_aZxy0yxw&libraries=places"></script>
	<script src="javascript/jquery.geocomplete.js"></script>
	<link rel="stylesheet" type="text/css" href="css/geocomplete.css" />

</head>

<body class='ui-mobile-viewport'>

<div data-role='page' class='edge-home ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active' tabindex='0' style='padding-bottom: 82px;'>

	<div data-role='header' class='edge-header ui-header ui-bar-inherit'>
		<div class='edge-logo'>
			<img src='images/edge_logo.svg'>
			<h2 class='ui-title' role='heading' aria-level='1'>EDGE bioinformatics</h2>
		</div>
	</div><!-- /header -->

	<div role='main' id='edge-content-report' class='ui-content edge-content edge-output'>
		<h2 id="edge-output-projid" data-pid="<TMPL_VAR NAME=PROJID>">Edit <TMPL_VAR NAME=PROJNAME DEFAULT=-> Sample Metadata</h2>
		
		<form id="edge-sample-metadata-form-edit">
			<div class="ui-corner-all custom-corners">
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-d">
						<b><em>Study</em></b><a href="#popupInfo-study" data-rel="popup" data-transition="pop" class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" title="Learn more">Learn more</a>
						<div data-role="popup" id="popupInfo-study" class="ui-content" data-theme="a" style="max-width:350px;">
							<p>Describe the sequencing study including a title and a study type.</p>
						</div>
					</div>
					<div class="ui-body ui-body-a ui-corner-all">
						<div class="ui-field-contain">
							<label for="metadata-study-title">Study Title</label>
							 <input type="text" id="metadata-study-title" name="metadata-study-title" placeholder="Enter a new title or select an existing title from a list by entering a key word" value="<TMPL_VAR NAME=SMD_STUDY_TITLE DEFAULT=>" class="metadata-input">
						</div>
						<div class="ui-field-contain" id="study-title-div" style="display:none;">
							<label for="metadata-study-title-list"></label>
							<div class="dblist-study">
								<ul data-role="listview" data-mini="true" data-inset="true" data-filter="true" data-filter-reveal="true" data-input="#metadata-study-title" id="metadata-study-title-list">
						 		</ul>
							</div>
						</div>
						<div class="ui-field-contain">
							<label for="metadata-study-type">Study Type</label>
							 <input type="text" id="metadata-study-type" name="metadata-study-type" placeholder="Enter a new type or select an existing type from a list by entering a key word" value="<TMPL_VAR NAME=SMD_STUDY_TYPE DEFAULT=>" class="metadata-input">
						</div>
						<div class="ui-field-contain" id="study-type-div" style="display:none;">
							<label for="metadata-study-type-list"></label>
							<div class="dblist-study-type">
								<ul data-role="listview" data-mini="true" data-inset="true" data-filter="true" data-filter-reveal="true" data-input="#metadata-study-type" id="metadata-study-type-list">
						 		</ul>
							</div>
						</div>
					</div>
				</div>

				<br><br>
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-d">
						<b><em>Sample</em></b><a href="#popupInfo-sample" data-rel="popup" data-transition="pop" class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" title="Learn more">Learn more</a>
						<div data-role="popup" id="popupInfo-sample" class="ui-content" data-theme="a" style="max-width:350px;">
							<p>Since the sample is one of the most important objects to be described biologically, it is highly recommended to describe the sample in as much detail as possible.</p>
						</div>
					</div>
					<div class="ui-body ui-body-a ui-corner-all">
				        	
					   	<div class="ui-field-contain">
							<label for="metadata-sample-name">Sample Name</label>
							<input type="text" data-mini="true" data-clear-btn="false" name="metadata-sample-name" id="metadata-sample-name" maxlength="30" placeholder="Sample Name" value="<TMPL_VAR NAME=SMD_NAME DEFAULT=>" class="metadata-input">
				            	</div>

				           	<div class="ui-field-contain">
							<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
								<legend>Sample Type</legend>
								<TMPL_LOOP NAME=LOOP_SMD_TYPES>
								<input type="radio" name="metadata-sample-type" id="<TMPL_VAR NAME=SMD_TYPE_ID DEFAULT=>" value="<TMPL_VAR NAME=SMD_TYPE DEFAULT=>" <TMPL_VAR NAME=SMD_TYPE_CHECKED DEFAULT=>>
								<label for="<TMPL_VAR NAME=SMD_TYPE_ID DEFAULT=>"><TMPL_VAR NAME=SMD_TYPE_LABEL DEFAULT=></label>
								</TMPL_LOOP>
							</fieldset>
				            	</div>

				        	<div id="metadata-host-block" >
					        	<div class="ui-field-contain" id="metadata-host-h">
								<label for="metadata-host">Host</label>
								<input type="text" data-mini="true" data-clear-btn="false" name="metadata-host-h" id="metadata-host-h" maxlength="30" value="human" readonly>
				            		</div>
					        	<div class="ui-field-contain" id="metadata-host-a">
								<label for="metadata-host">Host</label>
							 	<input type="text" id="metadata-host" name="metadata-host" placeholder="Enter a new host or select an existing host from a list by entering a key word" value="<TMPL_VAR NAME=SMD_HOST DEFAULT=>" class="metadata-input">
				            		</div>
							<div class="ui-field-contain" id="host-list-div" style="display:none;">
								<label for="metadata-host-list"></label>
								<div class="dblist-pg-host">
								<ul data-role="listview" data-mini="true" data-inset="true" data-filter="true" data-filter-reveal="true" data-input="#metadata-host" id="metadata-host-list">
							 	</ul>
								</div>
							</div>
				            		<div class="ui-field-contain">
								<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
									<legend>Host Condition</legend>
									<TMPL_LOOP NAME=LOOP_SMD_HOST_CONDITIONS>
									<input type="radio" name="metadata-host-condition" id="<TMPL_VAR NAME=SMD_HOST_CONDITION_ID DEFAULT=>" value="<TMPL_VAR NAME=SMD_HOST_CONDITION DEFAULT=>" <TMPL_VAR NAME=SMD_HOST_CONDITION_CHECKED DEFAULT=>>
									<label for="<TMPL_VAR NAME=SMD_HOST_CONDITION_ID DEFAULT=>"><TMPL_VAR NAME=SMD_HOST_CONDITION_LABEL DEFAULT=></label>
									</TMPL_LOOP>
								</fieldset>
				            		</div>
				        	</div>

				        	<div id="metadata-host-human" >
					        	<div class="ui-field-contain">
								<label for="metadata-host-gender-cb">Gender</label>
								<TMPL_IF NAME="OUT_SMD_GENDER">
								<input type="checkbox" name="metadata-host-gender-cb" id="metadata-host-gender-cb" data-mini="true" checked>
								<TMPL_ELSE>
								<input type="checkbox" name="metadata-host-gender-cb" id="metadata-host-gender-cb" data-mini="true">
								</TMPL_IF>
				            		</div>
				            		<div class="ui-field-contain" id="human-gender">
								<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
									<legend></legend>
									<TMPL_LOOP NAME=LOOP_SMD_GENDERS>
									<input type="radio" name="metadata-host-gender" id="<TMPL_VAR NAME=SMD_GENDER_ID DEFAULT=>" value="<TMPL_VAR NAME=SMD_GENDER DEFAULT=>" <TMPL_VAR NAME=SMD_GENDER_CHECKED DEFAULT=>>
									<label for="<TMPL_VAR NAME=SMD_GENDER_ID DEFAULT=>"><TMPL_VAR NAME=SMD_GENDER_LABEL DEFAULT=></label>
									</TMPL_LOOP>
								</fieldset>
				            		</div>
					        	<div class="ui-field-contain">
								<label for="metadata-host-age-cb" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">Age</label>
								<TMPL_IF NAME="OUT_SMD_AGE">
								<input type="checkbox" name="metadata-host-age-cb" id="metadata-host-age-cb" data-mini="true" checked>
								<TMPL_ELSE>
								<input type="checkbox" name="metadata-host-age-cb" id="metadata-host-age-cb" data-mini="true">
								</TMPL_IF>
				            		</div>
					        	<div class="ui-field-contain" id="human-age">
								<label for="metadata-host-age"></label>
								<input type="number" name="metadata-host-age" id="metadata-host-age" data-mini="true" data-clear-btn="true" value="<TMPL_VAR NAME=SMD_AGE DEFAULT=1>" min="1" max="130">
				            		</div>

							<div data-role="collapsible" id="edge-input-sequence" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="true">
								<h4 class="edge-main-pipeline-input">Recent Travels</h4>
						    		<div id="metadata-travels">
						    		</div>
								<div class="ui-field-contain">
									<a href="#" class="ui-btn ui-btn-icon-left ui-icon-plus ui-mini" id="add-travel">Add a travel</a>
								</div>
								<br><br>
							</div>

							<div data-role="collapsible" id="edge-input-sequence" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="true">
								<h4 class="edge-main-pipeline-input">Symptoms</h4>
								<p class="edge_tool_note">(please check all that apply):</p>
						    		<div id="metadata-symptoms">
						    		</div>
							</div>
				        	</div>


						<div class="ui-field-contain">
							<label for="metadata-isolation-source">Isolation Source</label>
							 <input type="text" id="metadata-isolation-source" name="metadata-isolation-source" placeholder="Enter a new source or select an existing source from a list by entering a key word" value="<TMPL_VAR NAME=SMD_SOURCE DEFAULT=>" class="metadata-input">
						</div>
						<div class="ui-field-contain" id="isolation-source-list-div" style="display:none;">
							<label for="metadata-isolation-source-list"></label>
							<div class="dblist-sample-source">
							<ul data-role="listview" data-mini="true" data-inset="true" data-filter="true" data-filter-reveal="true" data-input="#metadata-isolation-source" id="metadata-isolation-source-list">
						 	</ul>
							</div>
						</div>
				        	
						<div class="ui-field-contain">
							<label for="metadata-sample-collection-date">Collection Date</label>
							<input type="text" data-role="date" data-mini="true" data-clear-btn="false" name="metadata-sample-collection-date" id="metadata-sample-collection-date" maxlength="30"  value="<TMPL_VAR NAME=SMD_COLLECTION_DATE DEFAULT=>"  class="metadata-input metadata-input-date">
						</div>

						<!-- geo autocomplete -->

						<div id="metadata-sample-geo">
							<div class="ui-field-contain">
								<label>Location</label>
							      	<input name="metadata-sample-location" id="metadata-sample-geocomplete" type="text" placeholder="Type in an address to let system auto fill the location fields below"  value="<TMPL_VAR NAME=SMD_LOCATION DEFAULT=>" class="metadata-input">
							</div>

							<div class="ui-field-contain">
								<label></label>
								<input name="locality" id="metadata-sample-city" data-mini="true" data-clear-btn="false" type="text" placeholder="City" value="<TMPL_VAR NAME=SMD_CITY DEFAULT=>" class="metadata-input">
							</div>


							<div class="ui-field-contain">
								<label></label>
								<input name="administrative_area_level_1"  id="metadata-sample-state" data-mini="true" data-clear-btn="false"type="text" placeholder="State" value="<TMPL_VAR NAME=SMD_STATE DEFAULT=>" class="metadata-input">
							</div>

							<div class="ui-field-contain">
								<label></label>
								<input name="country" id="metadata-sample-country" data-mini="true" data-clear-btn="false" type="text" placeholder="Country" value="<TMPL_VAR NAME=SMD_COUNTRY DEFAULT=>" class="metadata-input">
							</div>


							<div class="ui-field-contain">
								<label></label>
								<input name="lat" id="metadata-sample-lat" data-mini="true" data-clear-btn="false" type="text" placeholder="Latitude" value="<TMPL_VAR NAME=SMD_LAT DEFAULT=>" class="metadata-input">
							</div>

							<div class="ui-field-contain">
								<label></label>
								<input name="lng" id="metadata-sample-lng" data-mini="true" data-clear-btn="false" type="text" placeholder="Longitude" value="<TMPL_VAR NAME=SMD_LNG DEFAULT=>" class="metadata-input">
							</div>
						</div>

						<!-- end geo -->
					</div>
				</div>
				<br><br>

				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-d">
						<b><em>Experiment</em></b><a href="#popupInfo-experiment" data-rel="popup" data-transition="pop" class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" title="Learn more">Learn more</a>
						<div data-role="popup" id="popupInfo-experiment" class="ui-content" data-theme="a" style="max-width:350px;">
							<p>Describe the experimental setup.</p>
						</div>
					</div>
					<div class="ui-body ui-body-a ui-corner-all">
						<div class="ui-field-contain">
							<label for="metadata-exp-title">Experiment Title</label>
							 <input type="text" id="metadata-exp-title" name="metadata-exp-title" placeholder="Experiment Title" value="<TMPL_VAR NAME=SMD_EXP_TITLE DEFAULT=>" class="metadata-input">
						</div>
						<div class="ui-field-contain">
							<label for="metadata-seq-center">Sequencing Center</label>
							 <input type="text" id="metadata-seq-center" name="metadata-seq-center" placeholder="Enter a new sequencing center or select an existing center from a list by entering a key word" value="<TMPL_VAR NAME=SMD_SEQ_CENTER DEFAULT=>" class="metadata-input">
						</div>
						<div class="ui-field-contain" id="seq-center-list-div" style="display:none;">
							<label for="edge-seq-center-list"></label>
							<div class="dblist-seq-center">
							<ul data-role="listview" data-mini="true" data-inset="true" data-filter="true" data-filter-reveal="true" data-input="#metadata-seq-center" id="edge-seq-center-list">
						 	</ul>
							</div>
						</div>
						<div class="ui-field-contain">
							<label for="metadata-sequencer">Sequencer</label>
							 <input type="text" id="metadata-sequencer" name="metadata-sequencer" placeholder="Enter a new sequencer or select an existing sequencer from a list by entering a key word" value="<TMPL_VAR NAME=SMD_SEQUENCER DEFAULT=>" class="metadata-input">
						</div>
						<div class="ui-field-contain" id="sequencer-list-div" style="display:none;">
							<label for="edge-sequencer-list"></label>
							<div class="dblist-sequencer">
							<ul data-role="listview" data-mini="true" data-inset="true" data-filter="true" data-filter-reveal="true" data-input="#metadata-sequencer" id="edge-sequencer-list">
						 	</ul>
							</div>
						</div>

						<div class="ui-field-contain">
							<label for="metadata-seq-date">Sequencing Date</label>
							<input type="text" data-role="date" data-mini="true" data-clear-btn="false" name="metadata-seq-date" id="metadata-seq-date" maxlength="30" value="<TMPL_VAR NAME=SMD_SEQ_DATE DEFAULT=>"  class="metadata-input metadata-input-date">
						</div>
					</div>
				</div>
				<br><br>

				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-d">
						<b><em>Other</em></b><a href="#popupInfo-other" data-rel="popup" data-transition="pop" class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" title="Learn more">Learn more</a>
						<div data-role="popup" id="popupInfo-other" class="ui-content" data-theme="a" style="max-width:350px;">
							<p>Enter your own metadata as:<br>field1=value1<br>field2=value2<br>field3=value3<br>...<br></p>
						</div>
					</div>
					<div class="ui-body ui-body-a ui-corner-all">
						<div class="ui-field-contain">
							<label for="metadata-other">User Defined Metadata</label>
							<textarea data-mini="true" rows="8" name="metadata-other" id="metadata-other" class="metadata-input"><TMPL_VAR NAME=SMD_OTHER DEFAULT=></textarea>
						</div>
					</div>
				</div>
				
			</div>
			<br><br>
		

			<div class="edge-center">
				<input data-mini="true" type="button" id="edge-sample-metadata-form-submit" data-inline="true" class="edge-center" value="Save">
				<input data-mini="true" type="button" id="edge-sample-metadata-form-cancel" data-inline="true" class="edge-center" value="Cancel">
				<input data-mini="true" type="button" id="edge-sample-metadata-form-reset" data-inline="true" class="edge-center" value="Reset">
			</div>
		</form>

	</div><!-- /content -->


	<div data-role='footer' data-position='fixed' data-tap-toggle='false' class='edge-footer ui-footer ui-bar-inherit ui-footer-fixed slideup' role='contentinfo'>
		<div class='edge-footer-logo'>
			<img src='images/logo_DTRA.png'/>
			<img src='images/logo_NMRC.png'/><img src='images/logo_LANL.png'/><img src='images/logo_NNSA.png'/>
		</div>
	</div><!-- /footer -->



</div><!-- /page -->

</body></html>
