[Desktop Entry]
Encoding=UTF-8
Name=EDGE python server startup
Type=Application
Exec=env EDGE_HOME=<edge_home> /usr/bin/bash <edge_home>/start_edge_ui.sh
Terminal=true
Icon=<edge_home>/edge_ui/images/edge_logo_icon.png
