[project]
##number of cpu
cpu=<TMPL_VAR NAME=edge-proj-cpu>
##store output to [outpath]/[projname] 
##outpath=<TMPL_VAR NAME=edge-proj-outpath>
projname=<TMPL_VAR NAME=edge-proj-name>
projdesc=<TMPL_VAR NAME=edge-proj-desc>
projid=<TMPL_VAR NAME=edge-proj-id>
projcode=<TMPL_VAR NAME=edge-proj-code>
projowner=<TMPL_VAR NAME=edge-proj-owner>
projrunhost=<TMPL_VAR NAME=edge-proj-runhost>

[Download Fastq]
DoFastqDownload=auto

[Download SRA]
DoSRADownload=<TMPL_VAR NAME=edge-sra-sw DEFAULT=0>
## SRA accessions ByrRun, ByExp, BySample, ByStudy
SRA_id=<TMPL_VAR NAME=edge-sra-acc DEFAULT=>

[Count Fastq]
DoCountFastq=auto
fastq_source=<TMPL_VAR NAME=edge-fastq-source>

[Quality Trim and Filter]
## boolean, 1=yes, 0=no
DoQC=<TMPL_VAR NAME=edge-qc-sw DEFAULT=0>
## phred encoding offset,  0 for autocheck
qc_phred_offset=<TMPL_VAR NAME=edge-qc-phred-offset DEFAULT=0>
##Targets quality level for trimming
q=<TMPL_VAR NAME=edge-qc-q DEFAULT=5>
##Trimmed sequence length will have at least minimum length 
min_L=<TMPL_VAR NAME=edge-qc-minl DEFAULT=50>
##Average quality cutoff
avg_q=<TMPL_VAR NAME=edge-qc-avgq DEFAULT=0>
##"N" base cutoff.  Trimmed read has more than this number of continuous base "N" will be discarded. 
n=<TMPL_VAR NAME=edge-qc-n DEFAULT=10>
##Low complexity filter ratio, Maximum fraction of mono-/di-nucleotide sequence
lc=<TMPL_VAR NAME=edge-qc-lc DEFAULT=0.85>
## Trim reads with adapters or contamination sequences
adapter=<TMPL_VAR NAME=edge-qc-adapter DEFAULT=>
porechop=<TMPL_VAR NAME=edge-porechop-sw DEFAULT=0>
## Trim polyA (>15)
polyA=<TMPL_VAR NAME=edge-qc-polyA DEFAULT=>
## phiX filter, boolean, 1=yes, 0=no
## phiX=<TMPL_VAR NAME=edge-qc-phix DEFAULT=0>
## Cut # bp from 5 end before quality trimming/filtering 
5end=<TMPL_VAR NAME=edge-qc-5end DEFAULT=0>
## Cut # bp from 3 end before quality trimming/filtering 
3end=<TMPL_VAR NAME=edge-qc-3end DEFAULT=0>

<TMPL_IF NAME=edge-joinpe-sw>
[Join PE Reads]
DoJoinPE=<TMPL_VAR NAME=edge-joinpe-sw DEFAULT=0>
fastqjoin-maxdiff=<TMPL_VAR NAME=edge-joinpe-maxdiff DEFAULT=8>
fastqjoin-minoverlap=<TMPL_VAR NAME=edge-joinpe-minoverlap DEFAULT=6>
fastqjoin-usejoined-only=<TMPL_VAR NAME=edge-joinpe-usejoined-only DEFAULT=0>
</TMPL_IF>

[Host Removal]
## boolean, 1=yes, 0=no
DoHostRemoval=<TMPL_VAR NAME=edge-hostrm-sw DEFAULT=0>
## Use more Host=  to remove multiple host reads
Host=<TMPL_VAR NAME=edge-hostrm-file DEFAULT=>
<TMPL_VAR NAME=edge-hostrm-file-multihost DEFAULT=>
bwaMemOptions="-T <TMPL_VAR NAME=edge-hostrm-minlen DEFAULT=50>"
similarity=<TMPL_VAR NAME=edge-hostrm-similarity DEFAULT=90>

[Assembly]
## boolean, 1=yes, 0=no
DoAssembly=<TMPL_VAR NAME=edge-assembly-sw DEFAULT=1>
assembledContigs=<TMPL_VAR NAME=edge-assembled-contig-file>
inputContigs=<TMPL_VAR NAME=edge-input-contig-file>
minContigSize=<TMPL_VAR NAME=edge-assembly-minc DEFAULT=200>
## spades or idba_ud or megahit
assembler=<TMPL_VAR NAME=edge-assembler DEFAULT="idba_ud">
idbaOptions="--pre_correction --mink <TMPL_VAR NAME=edge-assembly-mink DEFAULT=31> --maxk <TMPL_VAR NAME=edge-assembly-maxk DEFAULT=121> --step <TMPL_VAR NAME=edge-assembly-step DEFAULT=20> --min_contig <TMPL_VAR NAME=edge-assembly-minc DEFAULT=200>"
## for spades
## support algorithm: default, singlecell,metagenome,plasmid,rna
SpadesAlgorithm=<TMPL_VAR NAME=edge-spades-algorithm DEFAULT=default>
SpadesPacbioFile=<TMPL_VAR NAME=edge-spades-pacbio-file>
SpadesNanoporeFile=<TMPL_VAR NAME=edge-spades-nanopore-file>
## for megahit
megahit_preset=<TMPL_VAR NAME=edge-megahit-preset DEFAULT=meta>
## for lrasm
lrasm_num_consensus=<TMPL_VAR NAME=edge-lrasm-num-consensus DEFAULT=3>
lrasm_preset=<TMPL_VAR NAME=edge-lrasm-preset DEFAULT=ont>
lrasm_ec=<TMPL_VAR NAME=edge-lrasm-ec DEFAULT=1>

[Reads Mapping To Contigs]
# Reads mapping to contigs
DoReadsMappingContigs=auto
## support bowtie or bwa or minimap2
r2c_aligner=<TMPL_VAR NAME=edge-r2c-aligner DEFAULT="bowtie">
r2c_aligner_options=<TMPL_VAR NAME=edge-r2c-aligner-options>
r2c_extract_unmapped=<TMPL_VAR NAME=edge-r2c-getunmapped-sw DEFAULT=0>

[Reads Mapping To Reference]
# Reads mapping to reference
DoReadsMappingReference=<TMPL_VAR NAME=edge-ref-sw DEFAULT=0>
## support bowtie or bwa or minimap2
r2g_aligner=<TMPL_VAR NAME=edge-r2g-aligner DEFAULT="bowtie">
r2g_aligner_options=<TMPL_VAR NAME=edge-r2g-aligner-options>
window_size=1000
step_size=200
reference=<TMPL_VAR NAME=edge-ref-file>
MapUnmappedReads=<TMPL_VAR NAME=edge-ref-unmapped-read-class DEFAULT=0>
r2g_extract_mapped=<TMPL_VAR NAME=edge-r2g-getmapped-sw DEFAULT=0>
r2g_extract_unmapped=<TMPL_VAR NAME=edge-r2g-getunmapped-sw DEFAULT=0>
r2g_get_consensus=<TMPL_VAR NAME=edge-r2g-getconsensus-sw DEFAULT=0>
r2g_consensus_min_mapQ=<TMPL_VAR NAME=edge-r2g-con-min-mapQ DEFAULT=10>
r2g_consensus_max_cov=<TMPL_VAR NAME=edge-r2g-con-max-cov DEFAULT=300>
r2g_consensus_alt_prop=<TMPL_VAR NAME=edge-r2g-con-alt-prop DEFAULT=0.5>
r2g_consensus_min_cov=<TMPL_VAR NAME=edge-r2g-con-min-cov DEFAULT=5>
r2g_consensus_min_baseQ=<TMPL_VAR NAME=edge-r2g-con-min-baseQ DEFAULT=20>
r2g_variant_call=<TMPL_VAR NAME=edge-r2g-variantcall-sw DEFAULT=1>
r2g_variant_call_ploidy=<TMPL_VAR NAME=edge-r2g-variantcall-ploidy DEFAULT="haploid">


[Reads Taxonomy Classification]
## boolean, 1=yes, 0=no
DoReadsTaxonomy=<TMPL_VAR NAME=edge-taxa-sw DEFAULT=1>
## If reference genome exists, only use unmapped reads to do Taxonomy Classification. Turn on AllReads=1 will use all reads instead.
AllReads=<TMPL_VAR NAME=edge-taxa-allreads DEFAULT=0>
enabledTools=<TMPL_VAR NAME=edge-taxa-enabled-tools DEFAULT="bwa">
splitrim-minq=<TMPL_VAR NAME=splitrim-minq DEFAULT=20>
custom-gottcha-genDB-b=<TMPL_VAR NAME=custom-gottcha-gendb-b>
custom-gottcha-speDB-b=<TMPL_VAR NAME=custom-gottcha-spedb-b>
custom-gottcha-strDB-b=<TMPL_VAR NAME=custom-gottcha-strdb-b>
custom-gottcha-genDB-v=<TMPL_VAR NAME=custom-gottcha-gendb-v>
custom-gottcha-speDB-v=<TMPL_VAR NAME=custom-gottcha-spedb-v>
custom-gottcha-strDB-v=<TMPL_VAR NAME=custom-gottcha-strdb-v>
custom-gottcha2-speDB-b=<TMPL_VAR NAME=custom-gottcha2-spedb-b>
custom-gottcha2-genDB-v=<TMPL_VAR NAME=custom-gottcha2-gendb-v>
custom-gottcha2-speDB-v=<TMPL_VAR NAME=custom-gottcha2-spedb-v>
custom-bwa-db=<TMPL_VAR NAME=custom-bwa>
custom-metaphlan-db=<TMPL_VAR NAME=custom-metaphlan2>
custom-kraken-db=<TMPL_VAR NAME=custom-kraken>
custom-pangia-db=<TMPL_VAR NAME=custom-pangia>
custom-diamond-db=<TMPL_VAR NAME=custom-diamond>

[Contigs Mapping To Reference]
# Contig mapping to reference
DoContigMapping=auto
## identity cutoff
identity=85
MapUnmappedContigs=<TMPL_VAR NAME=edge-ref-unmapped-contig-class DEFAULT=0>

[Variant Analysis]
DoVariantAnalysis=auto

[Contigs Taxonomy Classification]
DoContigsTaxonomy=<TMPL_VAR NAME=edge-contig-taxa-sw DEFAULT=0>

[Contigs Blast]
DoBlast=<TMPL_VAR NAME=edge-blast-sw DEFAULT=0>
BLAST_nr_DB=<TMPL_VAR NAME=edge-blast-nr DEFAULT=0>
BLAST_nt_DB=<TMPL_VAR NAME=edge-blast-nt DEFAULT=0>

[Contigs Annotation]
## boolean, 1=yes, 0=no
DoAnnotation=<TMPL_VAR NAME=edge-anno-sw DEFAULT=0>
## kingdom: Archaea Bacteria Mitochondria Viruses
kingdom=<TMPL_VAR NAME=edge-anno-kingdom DEFAULT="Bacteria">
contig_size_cut_for_annotation=<TMPL_VAR NAME=edge-anno-size-cut DEFAULT=700>
## support tools: Prokka or RATT
annotateProgram=<TMPL_VAR NAME=edge-anno-tool DEFAULT=prokka>
## provide SourceGBK for RATT to transfer annotation
annotateSourceGBK=<TMPL_VAR NAME=edge-anno-source-file>
DoKeggOmicsView=<TMPL_VAR NAME=edge-anno-kegg-sw DEFAULT=1>

[ProPhage Detection]
DoProPhageDetection=auto


[Contigs Binning]
DoBinning=<TMPL_VAR NAME=edge-binning-sw DEFAULT=0>
contig_size_cut_for_binning=<TMPL_VAR NAME=edge-binning-size-cut DEFAULT=1000>
binning-max-itr=<TMPL_VAR NAME=binning-max-itr DEFAULT=50>
binning-prob=<TMPL_VAR NAME=binning-prob DEFAULT=0.9>
binning-markerset=<TMPL_VAR NAME=binning-markerset DEFAULT=107>
binning-abund-file=<TMPL_VAR NAME=binning-abund-file>

<TMPL_IF NAME=edge-phylo-sw>
[Phylogenetic Analysis]
DoSNPtree=<TMPL_VAR NAME=edge-phylo-sw DEFAULT=0>
## Availabe choices are Ecoli, Yersinia, Francisella, Brucella, Bacillus
SNPdbName=<TMPL_VAR NAME=edge-phylo-patho>
## Use selected genomes instead of precomputed SNPdb above
## List of genome name from NCBI genomes see $EDGE/edge_ui/data/Ref_list.json
SNPGenomes=<TMPL_VAR NAME=edge-phylo-ref-list>
SNPGenomesFiles=<TMPL_VAR NAME=edge-phylo-ref-list-file>
## A refrence genoem from above two options for reads/contigs mapping
SNPrefGenome=<TMPL_VAR NAME=edge-phylo-ref-select-ref>
## FastTree or RAxML
treeMaker=<TMPL_VAR NAME=edge-phylo-tree DEFAULT=FastTree>
## SRA accessions ByrRun, ByExp, BySample, ByStudy
SNP_SRA_ids=<TMPL_VAR NAME=edge-phylo-sra-acc DEFAULT=>
PhaMEbootstrap=<TMPL_VAR NAME=edge-phylo-bootstrap-sw DEFAULT=1>
PhaMEbootstrap_num=<TMPL_VAR NAME=edge-phylo-bootstrap-num DEFAULT=100>
</TMPL_IF>

<TMPL_IF NAME=edge-sg-sw>
[Gene Family Analysis]
DoReadsSpecialtyGenes=<TMPL_VAR NAME=edge-reads-sg-sw DEFAULT=0>
DoORFsSpecialtyGenes=<TMPL_VAR NAME=edge-orfs-sg-sw DEFAULT=0>
SpecialtyGenesSearchTool=<TMPL_VAR NAME=edge-sg-stool DEFAULT='rapsearch2'>
ShortBREDMinPercIdentity=<TMPL_VAR NAME=edge-sg-identity-options DEFAULT=0.95>
ShortBREDMinPercLength=<TMPL_VAR NAME=edge-sg-length-options DEFAULT=0.95>
</TMPL_IF>


[Primer Validation]
DoPrimerValidation=<TMPL_VAR NAME=edge-primer-valid-sw DEFAULT=0>
maxMismatch=<TMPL_VAR NAME=edge-primer-valid-mm DEFAULT=1>
primer=<TMPL_VAR NAME=edge-primer-valid-file>

<TMPL_IF NAME=edge-primer-adj-sw>
[Primer Design]
## boolean, 1=yes, 0=no
DoPrimerDesign=<TMPL_VAR NAME=edge-primer-adj-sw DEFAULT=0>
## desired primer tm
tm_opt=<TMPL_VAR NAME=edge-primer-adj-tm-opt DEFAULT=59>
tm_min=<TMPL_VAR NAME=edge-primer-adj-tm-min DEFAULT=57>
tm_max=<TMPL_VAR NAME=edge-primer-adj-tm-max DEFAULT=63>
## desired primer length
len_opt=<TMPL_VAR NAME=edge-primer-adj-len-opt DEFAULT=20>
len_min=<TMPL_VAR NAME=edge-primer-adj-len-min DEFAULT=18>
len_max=<TMPL_VAR NAME=edge-primer-adj-len-max DEFAULT=27>
## reject primer having Tm < tm_diff difference with background Tm
tm_diff=<TMPL_VAR NAME=edge-primer-adj-df DEFAULT=5>
## display # top results for each target
top=<TMPL_VAR NAME=edge-primer-adj-num DEFAULT=5>
</TMPL_IF>

[Generate JBrowse Tracks]
DoJBrowse=<TMPL_VAR NAME=edge-jbroswe-sw DEFAULT=1>

<TMPL_IF NAME=edge-qiime-sw>
[Qiime analysis]
DoQiimeAnalysis=<TMPL_VAR NAME=edge-qiime-sw DEFAULT=0>
qiime_amplicon_type=<TMPL_VAR NAME=edge-qiime-at-sw DEFAULT="GreenGenes">
qiime_input_dir=<TMPL_VAR NAME=edge-qiime-reads-dir-input DEFAULT=>
qiime_paired_reads_orientation=<TMPL_VAR NAME=edge-qiime-pro-sw DEFAULT="fr">
qiime_mapping_file=<TMPL_VAR NAME=edge-qiime-mapping-files>
qiime_barcode_file=<TMPL_VAR NAME=edge-qiime-barcode-fq-files>
qiime_barcode_len=<TMPL_VAR NAME=edge-qiime-barcode-length DEFAULT=6>
qiime_phred_offset=<TMPL_VAR NAME=edge-qiime-phred-offset DEFAULT=33>
qiime_q_threshold=<TMPL_VAR NAME=edge-qiime-phred-quality-threshold DEFAULT=3>
qiime_max_n=<TMPL_VAR NAME=edge-qiime-max-n DEFAULT=1>
qiime_min_per_read_length_fraction=<TMPL_VAR NAME=edge-qiime-min-per-read-length-fraction DEFAULT=0.5>
qiime_UPARSE=<TMPL_VAR NAME=edge-qiime-UPARSE-sw DEFAULT=0>
qiime_minimum_otu_size=<TMPL_VAR NAME=edge-qiime-minimum-otu-size DEFAULT=2>
qiime_similarity=<TMPL_VAR NAME=edge-qiime-similarity DEFAULT=0.94>
qiime_sampling_depth=<TMPL_VAR NAME=edge-qiime-sampling-depth DEFAULT=1000>
qiime_filter_taxa=<TMPL_VAR NAME=edge-qiime-filter-taxa>
qiime_substract_ntc=<TMPL_VAR NAME=edge-qiime-substract-ntc>
qiime_chart_type=<TMPL_VAR NAME=edge-qiime-taxa-charttype>
</TMPL_IF>

<TMPL_IF NAME=edge-targetedngs-sw>
[DETEQT analysis]
DoDETEQT=<TMPL_VAR NAME=edge-targetedngs-sw DEFAULT=0>
targetedNGS_ref=<TMPL_VAR NAME=edge-targetedngs-ref-file>
targetedNGS_input_dir=<TMPL_VAR NAME=edge-targetedngs-dir-input>
targetedNGS_sample_file=<TMPL_VAR NAME=edge-targetedngs-samplefile>
targetedNGS_q_cutoff=<TMPL_VAR NAME=edge-targetedngs-q-cutoff DEFAULT=0.8145>
targetedNGS_depth_cutoff=<TMPL_VAR NAME=edge-targetedngs-depth-cutoff DEFAULT=1000>
targetedNGS_len_cutoff=<TMPL_VAR NAME=edge-targetedngs-len-cutoff DEFAULT=100>
targetedNGS_mode=<TMPL_VAR NAME=edge-targetedngs-mode DEFAULT=PE>
targetedNGS_platform=<TMPL_VAR NAME=edge-targetedngs-flatform DEFAULT=illumina>
targetedNGS_expectedCoverage=<TMPL_VAR NAME=edge-targetedngs-ec DEFAULT=1>
targetedNGS_expectedIdentity=<TMPL_VAR NAME=edge-targetedngs-eid DEFAULT=1>
targetedNGS_expectedBaseQ=<TMPL_VAR NAME=edge-targetedngs-ebq DEFAULT=37>
targetedNGS_expectedMapQ=<TMPL_VAR NAME=edge-targetedngs-emq DEFAULT=60>
targetedNGS_coverageWeight=<TMPL_VAR NAME=edge-targetedngs-cw DEFAULT=0.25>
targetedNGS_identityWeight=<TMPL_VAR NAME=edge-targetedngs-iw DEFAULT=0.25>
targetedNGS_baseqWeight=<TMPL_VAR NAME=edge-targetedngs-bw DEFAULT=0.25>
targetedNGS_mapqWeight=<TMPL_VAR NAME=edge-targetedngs-mw DEFAULT=0.25>
</TMPL_IF>

<TMPL_IF NAME=edge-piret-sw>
[PiReT transcriptomics analysis]
DoPiReTAnalysis=<TMPL_VAR NAME=edge-piret-sw DEFAULT=0>
piret_input_dir=<TMPL_VAR NAME=edge-piret-dir-input>
piret_exp_design_file=<TMPL_VAR NAME=edge-piret-exp-design-file>
piret_kingdom=<TMPL_VAR NAME=edge-piret-kingdom DEFAULT="prokarya">
piret_prokaryote_fasta=<TMPL_VAR NAME=edge-piret-prok-fasta-file>
piret_prokaryote_gff=<TMPL_VAR NAME=edge-piret-prok-gff-file>
piret_eukarya_fasta=<TMPL_VAR NAME=edge-piret-euk-fasta-file>
piret_eukarya_gff=<TMPL_VAR NAME=edge-piret-euk-gff-file>
piret_p_value=<TMPL_VAR NAME=edge-piret-pvalue DEFAULT=0.0001>
piret_method=<TMPL_VAR NAME=edge-piret-method>
piret_stranded=<TMPL_VAR NAME=edge-piret-stranded DEFAULT=0>
piret_index=<TMPL_VAR NAME=edge-piret-hisat2-index-file>
</TMPL_IF>

[HTML Report]
DoHTMLReport=1
